body{
    background-color: rgb(41, 43, 53);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    text-align: center;
    color: aliceblue;
}

body h1{
    font-size: 20px;
}